<h1> Games </h1>

<ul>
<% @games. each do |game| %> 
    <li> <%= game %> </li>
    <% end %>
    </ul>

    <h2> Game Genres</h2>
    <ul> 
    <li> Action </li>
    <li> Active Action </li>
    <li> Gamey games </li>
    </ul>